<section class="contacts">
  <div class="container">


    <div class="contacts__inner">
      <ul class="contacts__list list-reset">
        <li class="contacts__item contacts__item--location">
          <a class="contacts__item-link" href="#">
            <h4 class="contacts__subtitle">Address</h4>
            <address class="contacts__address">123 5th Avenue, New York, US</address>
          </a>
        </li>
        <li class="contacts__item contacts__item--phone">
          <a class="contacts__item-link" href="tel:+11234567890">
            <h4 class="contacts__subtitle">Call Us</h4>
            <span class="contacts__phone">+1 123 456 7890</span>
          </a>
        </li>
        <li class="contacts__item contacts__item--email">
          <a class="contacts__item-link" href="mailto:info@example.com">
            <h4 class="contacts__subtitle">Email Us</h4>
            <span class="contacts__email">info@example.com</span>
          </a>
        </li>
      </ul>
    </div>


  </div>
</section>
