<footer class="footer">
  <div class="container">


    <div class="footer__inner">
      <div class="footer__logo-inner">
        <a class="footer__logo" href="#">
          <img class="logo" src="img/logo.svg" width="161" alt="footer logo">
        </a>
        <p class="footer__text">
          Our team is led by several chief engineers, composed of a large number of researchers absorbed in their work
          in
          our comprehensive laboratory, which is also a renowned medical equipment testing center in Hong Kong.
        </p>
      </div>

      <ul class="footer__list-company list-reset">
        <li class=" footer__item--subtitle">
          <h4 class="footer__subtitle">
            Company
          </h4>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            Home
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            About
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            Product
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            Contact
          </a>
        </li>
        <li class="footer__item">
          <a class="footer__item-link" href="#">
            History
          </a>
        </li>
      </ul>

      <ul class="footer__list-follow list-reset">
        <li class="footer__item footer__item--subtitle">
          <h4 class="footer__subtitle">
            Follow Us
          </h4>
        </li>
        <li class="footer__follow-item footer__follow-item--icon">
          <a class="footer__item-link" href="#">
            Facebook
          </a>
        </li>
        <li class="footer__follow-item footer__follow-item--icon">
          <a class="footer__item-link" href="#">
            Twitter
          </a>
        </li>
        <li class="footer__follow-item footer__follow-item--icon">
          <a class="footer__item-link" href="#">
            Google +
          </a>
        </li>
        <li class="footer__follow-item footer__follow-item--icon">
          <a class="footer__item-link" href="#">
            Youtube
          </a>
        </li>
        <li class="footer__follow-item footer__follow-item--icon">
          <a class="footer__item-link" href="#">
            Linkedin
          </a>
        </li>
      </ul>
    </div>


  </div>

  <div class="footer__bottom-line"></div>
  <div class="footer__copyright">
    <small class="footer__copy">Copyright © 2020 N95</small>
  </div>
</footer>
