<header class="header">
  <nav class="header__nav">
    <a class="header__logo" href="#">
      <img class="logo" src="img/logo.svg" width="161" alt="site logo">
    </a>

    <button class="burger">
      <span class="sr-only">go to menu</span>
      <span class="burger__line"></span>
    </button>

    <ul class="header__list list-reset">
      <li class="header__list-item header__list-item">
        <a class="header__item-link header__item-link--other-color" href="#">
          Home
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__item-link" href="#">
          About
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__item-link" href="#">
          Product
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__item-link" href="#">
          Contact
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__item-link" href="#">
          History
        </a>
      </li>
      <li class="header__list-item">
        <a class="header__btn-link header__item-link" href="#">Contact us</a>
      </li>
    </ul>
  </nav>
  <div class="header__inner-container">


    <div class="header__inner-hero">
      <div class="header__left-side">
        <span class="header__model-name">3M N95 masks</span>
        <h1 class="header__title">Protective Face Masks</h1>
        <p class="header__descr">
          We offer the fast delivery wholesale selection of N95 masks and surgical masks, featuring FDA-approved quality
          and 2 – 5 days delivery, our wholesale face masks are ideal for influenza or novel coronavirus prevention.
        </p>
        <div class="header__btns">
          <a class="header__shop" href="#">Shop now</a>
          <a class="header__learn" href="#">Learn more</a>
        </div>
      </div>

      <div class="header__right-side">
        <img class="header__img" src="img/header-image.png" width="496" alt="photo of a woman in a respirator">
      </div>
    </div>

    <div class="header__inner-benefits">
      <ul class="header__benefits-list list-reset">
        <li class="header__benefits-item header__benefits-item--shipping">
          <h2 class="header__benefits-subtitle">
            Full-Service<br> Shipping
          </h2>
          <p class="header__benefits-descr">
            From picking to custom-crating to domestic and international shipping, we handle it all for you.
          </p>
        </li>
        <li class="header__benefits-item header__benefits-item--inspection">
          <h2 class="header__benefits-subtitle">
            Multi-Point Inspection
          </h2>
          <p class="header__benefits-descr">
            To ensure quality, our team of HTM professionals fully assess and evaluate all equipment.
          </p>
        </li>
        <li class="header__benefits-item header__benefits-item--support">
          <h2 class="header__benefits-subtitle">
            Professional<br> Product Support
          </h2>
          <p class="header__benefits-descr">
            If you have any questions about the equipment, our product specialists are here to help.
          </p>
        </li>
        <li class="header__benefits-item header__benefits-item--secure">
          <h2 class="header__benefits-subtitle">
            Secure and Easy Payment Methods
          </h2>
          <p class="header__benefits-descr">
            Pay your way, whether by credit card, PayPal or the redemption of earned credits.
          </p>
        </li>
      </ul>
    </div>


  </div>
</header>
