<section class="made">
  <div class="container">


    <div class="made__bottom">
      <div class="made__bottom-left">
        <img class="made__bottom-img" src="img/made-img-bottom.png" width="570"
          alt="photo of the workshop for the production of respirators, with people in the process of work">
        <p class="made__left-text">
          Given the praised reputation and reliable quality within the industry, we have also established
          preliminary
          business agreements with some hospitals, local governments and medical institutions in Guangdong
          Province.
        </p>
      </div>
      <div class="made__bottom-right">
        <div class="made__right-top">
          <p class="made__text-left">
            After years of development, Health Pro has reached stable long-term cooperation with many hospitals and
            medical institutions in Hong Kong.
          </p>
          <p class="made__text-right">
            We are keenly looking forward to expand our market in Mainland China and overseas in the future, as we
            have strong beliefs in our products.
          </p>
        </div>
        <div class="made__right-bottom">
          <h5 class="made__bottom-subtitle">
            Proudly Made in Hong Kong
          </h5>
          <p class="made__bottom-text">
            Our factory is located in Hong Kong.
            Equipped with machines and assembly line of the best quality on the market to ensure quality control.
          </p>
          <div class="made__bottom-info">
            <a class="made__link-btn" href="#">Learn more</a>
            <a class="made__bottom-phone-inner made__bottom-phone-inner--icon" href="tel:+11234445678">
              <span class="made__phone-text">Contact us</span>
              <span class="made__phone-link">+1 123 444 5678</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="made__lab-inner">
      <div class="made__lab-left">
        <span class="made__text">Our Lab Certification</span>
        <span class="made__line"></span>
      </div>
      <div class="made__lab-right">
        <img class="made__certification-image" src="img/respirators-fda-icon.svg" width="67" alt="fda logo">
        <img class="made__certification-image" src="img/respirators-nelson-icon.svg" width="126"
          alt="nelson laboratories logo">
        <img class="made__certification-image" src="img/respirators-cnas-icon.svg" width="105" alt="cnas logo">
      </div>
    </div>


  </div>
</section>
