<section class="reasons">
  <div class="container">


    <div class="reasons__inner">
      <img class="reasons__img" src="img/reasons-img.png" width="400" alt="respirator photo">
      <div class="reasons__inner-right">
        <h2 class="reasons__title">Reasons To Choose Our Products</h2>
        <p class="reasons__text">
          All products of Health Pro have obtained the certifications issued by national specialized agencies and
          testing laboratories.
          They have also passed the quality inspection of several international famous testing institutions. We have
          absolute confidence that every product of Health Pro is a of the top quality.
        </p>
        <ul class="reasons__list list-reset">
          <li class="reasons__item reasons__item--leader">
            <h3 class="reasons__subtitle">Industry leader</h3>
            <p class="reasons__descr">
              If you have any questions about the equipment, our product specialists are here to help, specialists are
              here.
            </p>
          </li>
          <li class="reasons__item reasons__item--innovation">
            <h3 class="reasons__subtitle">Innovation 3 led development</h3>
            <p class="reasons__descr">
              If you have any questions about the equipment, our product specialists are here to help.
            </p>
          </li>
          <li class="reasons__item reasons__item--create">
            <h3 class="reasons__subtitle">To create a safer tomorrow for all</h3>
            <p class="reasons__descr">
              If you have any questions about the equipment, our product specialists are here to help.
            </p>
          </li>
          <li class="reasons__item reasons__item--protect">
            <h3 class="reasons__subtitle">To protect and to improve living quality for all</h3>
            <p class="reasons__descr">
              If you have any questions about the equipment, our product specialists are here to help.
            </p>
          </li>
        </ul>
      </div>
    </div>


    <img class="reasons__bottom-img" src="img/feedback-img.png" width="1140" alt="feedback items">
  </div>
</section>
